.board-container {
  height: 90vh;
  /* border: solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.test {
  height: 700px;
  width: 700px;
  /* border: solid;
  border-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button {
  cursor: pointer;
}

@media (max-width: 700px) {
  .test {
    height: 600px;
    width: 600px;
  }
}
@media (max-height: 700px) {
  .test {
    height: 550px;
    width: 550px;
  }
}
@media (max-width: 600px) {
  .test {
    height: 500px;
    width: 500px;
  }
}
@media (max-height: 600px) {
  .test {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 500px) {
  .test {
    height: 400px;
    width: 400px;
  }
}
@media (max-height: 500px) {
  .test {
    height: 350px;
    width: 350px;
  }
}
@media (max-height: 400px) {
  .test {
    height: 280px;
    width: 280px;
  }
}
@media (max-width: 400px) {
  .test {
    height: 300px;
    width: 300px;
  }
}
@media (max-height: 350px) {
  .test {
    height: 250px;
    width: 250px;
  }
}
